*{
    padding: 0;
    margin: 0;
}
:root{
    --Error: red;
    --white: #e0e0e0;



    --fontsize-Paragraphs: 16px;
}
body {
    background: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}
section {
    justify-self: center;
    align-self: center;
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}
.errors-section {
    width: 50% !important;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 25px 0 0 25px;
    background: url(/images/Perfect\ place\ to\ get\ a\ perfect\ body.png) no-repeat center / cover;
}
.error{
    height: 10%;
}
.errors-section p{
    font-size: var(--fontsize-Paragraphs);
    color: var(--Error);
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.errors-section ul{
    list-style: square;

}
.errors-section li{
    padding: 5px;
    color: grey;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.form-section {
    width: 50% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    filter:sepia(20px)
}
.form-section h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.form-section input{
    
        width: 40%;
        height: 8%;
        border-radius: 15px;
        padding: 0 20px;
        border: none;
        cursor: text;
        transition: all step-start .3s;
        opacity: 70%;
}
.form-section input:focus-visible{
    outline: none;
    opacity: 100%;
}
.form-section input:hover{
    outline: none;
    opacity: 100%;
}
.form-section button{
    width: 20%;
    height: 10%;
    border-radius: 10px;
    background:  #2565a1;
    opacity: none;
    color: rgb(255, 255, 255);
}

